{% extends "base.html" %}
{% block nev %}
</head>
<body>
<div class="navbar">
    
</div>
<div class="container">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper sit amet metus et dignissim. Nullam vitae nunc nec lectus consequat varius. Sed vulputate mi sed justo luctus ullamcorper. Duis tristique turpis non arcu lobortis, ac vehicula nisl semper. Mauris ut neque justo. Nulla facilisi. Proin eleifend risus risus, eget fermentum felis dapibus vel. Aliquam auctor mi vitae commodo dapibus. Nulla ac tellus sit amet enim sodales rhoncus a nec ligula.</p>
    <p>Donec consequat justo et nisl vehicula tempus. Mauris mattis dui sit amet tortor varius efficitur. Duis at neque id purus convallis malesuada. Suspendisse vel est eleifend, fermentum sapien eget, condimentum purus. Nulla facilisi. Donec interdum ex vitae lectus tempus fermentum. Fusce sollicitudin ultrices arcu, auctor fermentum ex laoreet a. Duis nec aliquet enim. Vivamus vel ante quis ligula hendrerit auctor. Aliquam erat volutpat. Phasellus auctor mi eget luctus scelerisque.</p>
</div>
</body>
</html>
{% endblock nev %}